@import "~@fremtind/jkl-core/_functions.scss";
@import "~@fremtind/jkl-core/mixins/_all.scss";
@import "~@fremtind/jkl-core/variables/_all.scss";

.jkl-portal-full-screen-menu-item {
    display: inline-block;
    position: relative;
    animation: appear 350ms ease-out;

    &__link {
        position: relative;
        @include reset-outline;
        @include jkl-text-style("desktop/title-small");

        /// Calculate font size and line height from screen size
        /// Sizes correspond to 48px/72px at 1440x900 resolution
        /// How it works: calculate the size relative to both screen width
        /// and screen height, and choose the smallest of the two numbers.
        /// Example calculation for line height:
        /// 72px/1440px = 0.05 -> 5vw (5% of screen width)
        /// 72px/900px = 0.08 -> 8vh (8% of screen height)
        line-height: min(5vw, 8vh);
        font-size: min(3.3333333vw, 5.3333333vh);

        text-decoration: none;
        color: $svart;
        background-color: transparent;
        padding: 0;
        padding-right: 3ch;
        cursor: pointer;
        animation: blinds 350ms ease-out;
        animation-fill-mode: both;

        &:after {
            position: absolute;
            content: "\2192";
            @include motion("standard");
            transition-property: transform;
            transform: translateX(0);
        }

        &:hover,
        &:focus {
            color: #000afa;
            &:after {
                transform: translateX(60%);
            }
        }

        *[data-theme="dark"] & {
            color: $hvit;

            &:hover,
            &:focus {
                color: #00faff;
            }
        }
    }
}

@keyframes blinds {
    0% {
        clip-path: inset(0 -3ch 100% 0);
    }
    100% {
        clip-path: inset(0 -3ch 0 0);
    }
}

@keyframes appear {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}
